@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Lato, sans-serif;
    font-size: 12px;
}
.container-fuid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 1rem;
}

.losmejoresrestaurantes{
    display: flex;
    margin: 1rem;
    overflow-x: scroll;
    width: 80vw;
}

.losmejoresrestaurantes::-webkit-scrollbar {
    width: 20px;
  }

.losmejoresrestaurantes::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
.losmejoresrestaurantes::-webkit-scrollbar-thumb {
    background: gray; 
    border-radius: 2px;
  }
  
.losmejoresrestaurantes::-webkit-scrollbar-thumb:hover {
    background: rgb(83, 83, 83); 
  }


.TopCiudades{
    display: flex;
    margin: 1rem;
}

.TopBarrios{
    display: flex;
    margin: 1rem;
}

.TopComidas{
    display: flex;
    margin: 1rem;
}

.footer-container {
    background-color: #EA044E;
    width: 100vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.footer-content {
    margin-bottom: 1em;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    line-height: 16px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 12px;
}

.RepentanceLink {
    text-decoration: underline;
}

.LegalLink {
    text-decoration: underline;
}