@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
    font-family: Lato, sans-serif;
    font-size: 12px;
}

.footer-container {
    background-color: #EA044E;
    width: 100vw;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.footer-content {
    margin-bottom: 1em;
}

.footer-links {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    line-height: 16px;
}

.link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 12px;
}

.RepentanceLink {
    text-decoration: underline;
}

.LegalLink {
    text-decoration: underline;

}